@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

@layer components {
  h1, h2, h3, h4, h5, h6 {
    @apply uppercase font-semibold text-heading font-heading text-black
  }

  .app {
    @apply text-regular font-global min-h-screen bg-white text-dark-gray
  }
}

::-webkit-scrollbar {
  width : 10px;
}

::-webkit-scrollbar-track {
  background : black;
}

::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}